#question{
    text-align: center;
    max-width: 500px;
    background-color: rgb(201, 201, 8);
    border-radius: 1rem;
    padding: 2rem;
}

#question h2{
    margin-bottom: 2rem;
}

#question p{
    /*color: rgb(206, 206, 38);*/
    margin-bottom: 1rem;
}

button{
    border: 4px solid white;
    background: linear-gradient(90rem, rgb(128, 105, 0) 20%,rgb(255, 217, 0) 80%);
    transition: 0.5s;
}

button:hover{
    background: white;
   
    transition: 0.5s;
}